<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WhatsappBulk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 0 = chrome, 1 = firefox -->
    <add key="WebDriver" value="1"/>
    <add key="FirefoxLocation" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WhatsappBulk.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>admin@digitalgrowth.my.id</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Parahyangan15</value>
            </setting>
            <setting name="Imap" serializeAs="String">
                <value>mail.digitalgrowth.my.id</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>admin@digitalgrowth.my.id</value>
            </setting>
            <setting name="IsHTML" serializeAs="String">
                <value>False</value>
            </setting>
        </WhatsappBulk.Properties.Settings>
    </userSettings>
</configuration>